.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    /* width: 40vw; */
    height: 20vh;
    /* min-width: 30vw; */
    border-radius: 10px;
    z-index: 50;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

/* .chattingDisplay {
  height: 80vh;
  overflow-y: auto;
} */

.chattingDisplay {
  /* height: 520px;         */
  height: 75vh;
  overflow-y: auto;  
  padding: 10px;
}

.chattingArea {
  display: flex;
  gap: 10px;
  align-items: center;
    position: absolute;
    bottom: 5px;
}

.chatButton {
  margin-left: 5rem;
}

.send-btn {
 
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Tablets (≤ 1024px) */
@media (max-width: 1024px) {
  .conferenceView video {
    width: 45vw;
    height: 25vh;
  }

  .chatRoom {
    width: 100%;
    z-index: 1;
  }
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
  .conferenceView {
    display: flex;
    flex-direction: column;
  }

  .conferenceView video {
    width: 90vw;
    height: 25vh;
  }

  .chattingDisplay {
  /* height: 450px;   */
  }
}

@media (max-width: 480px) {
  .meetUserVideo {
    height: 15vh;
    bottom: 15vh;
    left: 5px;
  }

  .buttonContainers svg {
    font-size: 2rem;
  }

  .conferenceView video {
    width: 95vw;
    height: 21vh;
  }
}